<header>
    <nav class="navigation">
        <a href="http://localhost:8080/home.html">Home</a>

        <button class="btnNavLogin" hx-post="http://localhost:8080/logout"
                nunjucks-template="logout-triggered"
                hx-target="#logout" id="logout">Logout </button>
    </nav>
    {% if  admin %}
    <a href="http://localhost:8080/adminpanel.html" style="color: #94a7ae; text-decoration: none; margin-right: 10px;">Adminpanel</a>
    {% endif %}

    <template id="logout-triggered">
        <span>Tschüss {{ username }}</span>
        {{ redirect("index.html", 500) }}
    </template>
</header>