<div class="columcontainer" id="user-{{username}}">
    <div class="column column4"><label> {{id}}</label></div>
    <div class="column column1">  <label>{{ username }}</label></div>
  <div class="column2 column">

      <button
            hx-target="#user-{{username}}"
            hx-patch="http://localhost:8080/setzeAlsAdmin/{{id}}"
            nunjucks-template="user-template"
            hx-vals='js:{"admin": ! {{admin}}}'
            hx-swap="outerHTML">
        {% if admin %}
        <span class="icon">
        <ion-icon style="color: red" size="large" name="person-add"></ion-icon>
                <b> Adminrechte entziehen</b>
            </span>
        {% else %}
        <span class="icon">
        <ion-icon  style="color: blue" size="large" name="person-remove"></ion-icon>
                <b> Adminrechte vergeben</b>
            </span>
        {% endif %}
    </button></div>


    <div class="column column3"></div>
</div>