<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="admin.css">
</head>

<body>
<div hx-ext="client-side-templates,response-targets,json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/benutzer"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/check-isAdmin.html" %}
    {% include "templates/navbar.html" %}


    <h1></h1>

    <p> <strong>Willkommen {{ username }}</strong></p>

    <hr>

    <div class="box-container">
        <div class="box">
            <a href="home.html">
            <button class="button">Zur Homepage</button>
            </a>
        </div>
        <div class="box">

            <button class="button">Artikel schreiben</button>
        </div>
    </div>

    <div class="box-center">
        <a href="benutzerliste.html">
        <button class="button">Benutzerliste bearbeiten</button>
        </a>
    </div>


</template>

</body>
</html>