<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="indexBackup.css">
    <link rel="stylesheet" href="artikelerstellen.css">
</head>

<body>
<div hx-ext="client-side-templates,response-targets,json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/benutzer"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/check-isAdmin.html" %}


    <header>
        <nav class="navigation">
            <a href="http://localhost:8080/home.html">Home</a>

            <button class="btnNavLogin" hx-post="http://localhost:8080/logout"
                    nunjucks-template="logout-triggered"
                    hx-target="#logout" id="logout">Logout </button>
        </nav>
        {% if admin %}

        <a href="artikelerstellen.html" style="color: #94a7ae; text-decoration: none; margin-right: 10px;">Artikel erstellen</a>
        <a href="benutzerliste.html" style="color: #94a7ae; text-decoration: none; margin-right: 10px;">Benutzerliste</a>

        {% endif %}

        <template id="logout-triggered">
            <span>Tschüss {{ username }}</span>
            {{ redirect("index.html", 500) }}
        </template>
    </header>

    <div class="formBoxLogin">
        <h2>Admins am Steuer: Neue Artikel kreieren</h2>
    </div>
    <hr>


    <form hx-post="http://localhost:8080/artikel">
        <div class="inputBox">
            <label>Titel</label><br>
            <input type="text" name="titel" id="titel"><br>
        </div>
        <label>Artikel Inhalt</label><br>
        <textarea id="text" name="text"  rows="4" cols="50">
            </textarea>

        <div class="inputBox">
            <label>Url</label><br>
            <input type="text" name="url" id="url"><br>
        </div>
        <button class="btn" type="submit">Artikel speichern</button>
    </form>
</template>
</body>
</html>
