body {
    margin: 20px;
}

p {
    color: #222222;
    font-size: x-large;
    text-align: center;
}

a {
    text-decoration: none;
}

.box-container {
    display: flex;
}

.box, .box-center {
    width: 10%;
    border-radius: 8px;
    background-color: #58765e;
}

.button {
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color:  #64766a;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: none;
}



.box-center .button {
    background-color: #64766a;
}
label {
    display: flex;
    justify-content: center;

}
span {
    display: flex;
    justify-content: left;
}

.box-center {
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

.columcontainer {
    margin: 0;
    padding: 0;
    display: flex;

}

.column {
    box-sizing: border-box;
    padding: 10px;
}

.column1 {
    flex: 0 0 200px;
    align-items: start;
    color: #d0d0d0;
}



.column2 {
    flex: 0 0 200px;
    align-items: end;
}

.column3 {
    flex: 0 0 300px;
}
.column4 {
    flex: 0 0 50px;
    color: #d0d0d0;
}

.benutzerlisteBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #262626;
    border-radius: 30px;
    padding: 60px;
}