<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="indexBackup.css">
    <link rel="stylesheet" href="benutzerliste.css">
</head>

<body>
<div hx-ext="client-side-templates,response-targets,json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/benutzer"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}


    <header>
        <nav class="navigation">
            <a href="http://localhost:8080/home.html">Start</a>
            <a href="http://localhost:8080/posts.html">Forum</a>
            {% if admin %}

            <a class="nav-link special-link" href="artikelerstellen.html" style="color: #d94200; text-decoration: none; margin-right: 10px;">Artikel
                erstellen</a>

            {% endif %}

            <template id="logout-triggered">
                <span>Tschüss {{ username }}</span>
                {{ redirect("index.html", 500) }}
            </template>
            <button class="btnNavLogin" hx-post="http://localhost:8080/logout"
                    nunjucks-template="logout-triggered"
                    hx-target="#logout" id="logout">Ausloggen
            </button>
        </nav>

    </header>

    <div class="benutzerlisteBox">
    <div class="formBoxLogin">
        <h2>Benutzerübersicht und Rechteverwaltung</h2>
    </div>
    <hr>
    <div
            hx-get="http://localhost:8080/benutzerliste"
            hx-target="#posts"
            hx-trigger="load"
            nunjucks-template="artikel-template">
    </div>
    <div id="posts"></div>
    </div>

</template>

    <template id="artikel-template">
        {% for user in userListe %}

        {% set username = user.username %}
        {% set admin = user.admin %}
        {% set  id = user.id %}
        {% include "/templates/user-view.html" %}

        {% endfor %}
    </template>

    <template id="user-template">

        {% include "/templates/user-view.html" %}
    </template>
</body>
</html>

