.rounded-box {
    width: 200px;
    height: 200px;
    border-radius: 30px; /* Ändern Sie diesen Wert je nach gewünschtem Rundungsradius */
    padding: 20px; /* Fügen Sie nach Bedarf Polsterung hinzu */
    box-sizing: border-box;
}

.content-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #c0a9bd;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.allePosts{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wilkommensTxt{
    color: #d0d0d0;
    max-width: 900px;
    margin-top: 20px;
}

.autoPost{
    margin-top: 40px;
    margin-bottom: 40px;
}

.formAutoBox  h1{
    font-size: 2em;
}

.formAutoBox p {
    display: flex;
}

.ueberschriftAutoBox {
    color: #d0d0d0;
}

.ueberschriftAutoBox h3 {
    font-size: 1.6em;
    display: flex;
    max-width: 900px;
    align-items: center;
}

.ueberschriftAutoBox p {
    display: flex;
}

.autoBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 900px;
    margin-top: 25px;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}
.autoBild{
    width: 400px;
}
.autoTxtBox{
    color: #d0d0d0;
    width: 450px;
    margin: 25px;
}