<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="home.css">
</head>

<body>
<div hx-ext="client-side-templates,response-targets,json-enc"
      hx-trigger="load"
      hx-get="http://localhost:8080/benutzer"
      nunjucks-template="main-template"
      hx-target-4*="#main"
      hx-target="#main"
      id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/navbar.html" %}

    <h1>Home of stylish cars</h1>

    <p>Welcome, <strong>{{ username }}</strong></p>

    <hr>
    <!-- This is just an example to get you started (see also RankController in backend). -->
    <!-- TODO Needs to be implemented. Best is to copy 'home.html' and modify it to your needs. -->
    <div class="content-flex-container">
        <h3>The latest 3 Posts </h3>
        <img class="rounded-box" src="images/car1.jpg" alt="ein Auto">
        <img class="rounded-box" src="images/car2.jpg" alt="ein Auto">
        <img class="rounded-box" src="images/car3.jpg" alt="ein Auto">
        <div class="posts">
            <p> Checkout all blog posts </p>
            <a href="posts.html"><button>Click here 🌟</button></a>
        </div>
    </div>


</template>

<template id="rank-result-template">
    Hey, {{load('user').username}}, you are the <strong>{{rank}}th</strong> user on this site.
</template>
</body>
</html>