<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="indexBackup.css">
</head>

<body>
<div hx-ext="client-side-templates,response-targets,json-enc"
      hx-trigger="load"
      hx-get="http://localhost:8080/benutzer"
      nunjucks-template="main-template"
      hx-target-4*="#main"
      hx-target="#main"
      id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}

    <header>
        <nav class="navigation">
            <a href="http://localhost:8080/home.html">Home</a>

            <button class="btnNavLogin" hx-post="http://localhost:8080/logout"
                    nunjucks-template="logout-triggered"
                    hx-target="#logout" id="logout">Logout </button>
            <a href="http://localhost:8080/homeAlt.html">FI</a>
        </nav>
        {% if  admin %}
        <a href="http://localhost:8080/adminpanel.html" style="color: #94a7ae; text-decoration: none; margin-right: 10px;">Adminpanel</a>
        {% endif %}

        <template id="logout-triggered">
            <span>Tschüss {{ username }}</span>
            {{ redirect("index.html", 500) }}
        </template>
    </header>



    <h1>Das Zuhause der Autoliebhaber</h1>

    <p>Willkommen, <strong>{{ username }}</strong></p>

    <hr>
    <div class="formBoxLogin">

        <h3><label>The latest 3 Posts</label> </h3>
        <img class="rounded-box" src="images/car1.jpg" alt="ein Auto">
        <img class="rounded-box" src="images/car2.jpg" alt="ein Auto">
        <img class="rounded-box" src="images/car3.jpg" alt="ein Auto">
        <div class="posts">
            <a class="navigation" href="posts.html"><button class="btnNavLogin">Forum</button></a>
        </div>

    </div>

</template>

<template id="rank-result-template">
    Hey, {{load('user').username}}, you are the <strong>{{rank}}th</strong> user on this site.
</template>
</body>
</html>