<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Zwitscher</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="indexBackup.css">
</head>
<body>

<div hx-ext="client-side-templates, response-targets, json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/user"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-valid.html" %}

    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="#">Start</a>
            <a href="#">Posts</a>
            <a href="#">Service</a>
            <a href="#">Kontakt</a>
            <button class="btnNavLogin">Login</button>
        </nav>
    </header>

    <div class="wrapper">
    <span class="boxSchließen">
      <ion-icon name="close-outline"></ion-icon>
    </span>
        <div class="formBoxLogin">
            <h2>Login</h2>
            <form action="#">
                <div class="inputBox">
          <span class="icon">
            <ion-icon name="mail-outline"></ion-icon>
          </span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="inputBox">
          <span class="icon">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </span>
                    <input type="password" required>
                    <label>Passwort</label>
                </div>
                <div class="benutzerMerken">
                    <label><input type="checkbox">Benutzer merken</label>
                    <a href="#">Passwort vergessen</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="loginRegister">
                    <p>Noch kein Konto?
                        <a href="#" class="registrierenLink">Registrieren</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

</template>


<template id="login-successful">
    {% if error %}
    <div>
        <code>{{ message }}</code>
    </div>

    {% elif admin %}
    <p><strong>{{ username }}</strong>, erfolgreich eingeloggt</p>

    {{redirect("adminpanel.html",500)}}

    {% else %}
    <p><strong>{{ username }}</strong>, erfolgreich eingeloggt</p>


    {# Redirect to home after 500ms #}
    {{redirect("home.html",500)}}
    {% endif %}
</template>
</body>
</html>