
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    width: 150px;
    margin: 5px;
}

.form-container input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
}

#password-error {
    margin-top: 5px;
}

h2 {
    text-align: center;
}

.formcolor {
    background-color: #c0a9bd ;
    border: 1px solid ;
    padding: 20px;
}

.center-button {
    display: block;
    margin: 0 auto;
}

body {
    background-image: url('hintergrund.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
