#headerBild{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#headerBild img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px){
    #headerBild{
        height: 200px;
    }
}

.blogposts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bildbox{
    width: 30%;
}

.bild{
    max-height: 200px;
}
.posts {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width : 80%;
    border-radius: 10px;
    border: 2px solid #ea0000;
    margin : 20px;
    padding: 10px;
    background-color: black;
    justify-content: center;
    color: white;
    opacity: 90%;
}

.post-inhalt {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    padding: 5px;
  //  align-items: center;
}

.titel {
    font-weight: bold;
}

.datum {
    align-self: flex-end;
    color: #888;
    font-size: 12px;
}

    body {
        scroll-padding-top: 100px;
        margin-top: 100px;
    }
 .kommentar {
     width: 90%;
 }
 .kommentarForm {
     width: 90%;
 }

.btnBenutzerUebersicht {
    display: flex;
    width: 30%;
    border: 1px #222222 solid;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    justify-content: center;
    background: transparent;
    justify-self: center;
}


