#headerBild{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#headerBild img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px){
    #headerBild{
        height: 200px;
    }
}

.blogposts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts {
    width : 80%;
    border-radius: 10px;
    margin : 20px;
    padding: 10px;
    background-color: #8f0202;
    justify-content: center;
}

.bild {
    width: 100%;
}
.post-inhalt {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    justify-content: center;
  //  align-items: center;
}

.titelBox {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.titel {
    font-weight: bold;
}

.datum {
    align-self: flex-end;
    color: #888;
    font-size: 12px;
}

    body {
        scroll-padding-top: 100px;
        margin-top: 100px;
    }

