<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="posts.css">

</head>

<body>


<div hx-ext="client-side-templates,response-targets,json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/benutzer"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/navbarAlt.html" %}

    <h1>Hallo hier siehst du die neuesten Posts:</h1>

    <p>Welcome, <strong>{{ username }}</strong></p>

    <hr>
    <!-- This is just an example to get you started (see also RankController in backend). -->

    <!-- here the latest blogposts will be shown -->
    <div class=blogposts id="posts"
         hx-get="http://localhost:8080/artikelliste"
         hx-target="#posts"
         hx-trigger="load"
         nunjucks-template="artikel-template">click
    </div>


</template>
<template id="artikel-template">
    {% for artikel in artikelListe %}
    <div class="posts">
        <div class="post-inhalt">
            <img class="bild"
                 src="https://cdn.motor1.com/images/mgl/P3nO74/s1/2000-nissan-skyline-r34-gt-r-by-kaizo-industries-driven-by-paul-walker-in-fast-and-furious-bonham-s-auction.webp"
                 alt="">
            <div class="titelBox">
                <div class="titel">{{ artikel.titel }}</div>
            </div>
            <div class="datum">{{ artikel.erstelltAm }}</div>
            <div>{{ artikel.text }}</div>
            <div>{{ artikel.url }}</div>
        </div>
    </div>
    {% endfor %}
</template>

</body>
</html>