<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="indexBackup.css">
    <link rel="stylesheet" href="posts.css">

</head>

<body>
<div hx-ext="client-side-templates,response-targets,json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/benutzer"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}


    <header>
        <nav class="navigation">
            <a href="http://localhost:8080/home.html">Home</a>

            <button class="btnNavLogin" hx-post="http://localhost:8080/logout"
                    nunjucks-template="logout-triggered"
                    hx-target="#logout" id="logout">Logout
            </button>
        </nav>
        {% if admin %}

        <a href="artikelerstellen.html" style="color: #94a7ae; text-decoration: none; margin-right: 10px;">Artikel
            erstellen</a>
        <a href="benutzerliste.html"
           style="color: #94a7ae; text-decoration: none; margin-right: 10px;">Benutzerliste</a>

        {% endif %}

        <template id="logout-triggered">
            <span>Tschüss {{ username }}</span>
            {{ redirect("index.html", 500) }}
        </template>
    </header>



    <hr>
    <!-- This is just an example to get you started (see also RankController in backend). -->

    <!-- here the latest blogposts will be shown -->
    <div class=blogposts id="posts"
         hx-get="http://localhost:8080/artikelkommentarliste"
         hx-target="#posts"
         hx-trigger="load"
         nunjucks-template="artikel-template">
    </div>


</template>
<template id="artikel-template">
    <div class="posts">
        {% for artikel in artikelKommentarListe %}
        <div class="post-inhalt">
            <img class="bild"
                 src="{{ artikel.url }}"
                 alt=""/>

            <div class="titelBox">
                <div class="titel">{{ artikel.titel }}</div>
            </div>
            <div class="datum">{{ artikel.erstelltAm }}</div>
            <div>{{ artikel.text }}</div>

        </div>


        <!-- Die Kommentare -->
        <div id="Kommentar-{{ artikel.id }}">
            {% for kommentar in artikel.kommentare %}
            <div> {{ kommentar.text }}  <i>{{ kommentar.user.username}}</i></div>

            {% endfor %}
        </div>
        <form hx-post="http://localhost:8080/kommentar/{{ artikel.id }}"
              nunjucks-template="redirect-template">
            <textarea id="text" id="text" rows="4" cols="50">

            </textarea>
            <button class="btnBenutzerUebersicht" type="submit">Kommentar abschicken</button>
        </form>
        {% endfor %}

    </div>
</template>
<template id="redirect-template">
    {{redirect('posts.html')}}
</template>
</body>
</html>