
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    width: 150px;
    margin: 5px;
}

.form-container input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
}

#password-error {
    margin-top: 5px;
}

h2 {
    text-align: center;
}

.formcolor {
    background-color: #64766a ;
    border: 1px solid ;
    padding: 20px;
}

.center-button {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color:  #64766a;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid black;
}

.center-button:hover {
    background-color: #58765e;
}

body {
    background-color: #f4f2f3;
}
