<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Zwitscher</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="registrierung.css">

</head>
<body>

<div hx-ext="client-side-templates, response-targets, json-enc"
     hx-trigger="load"
     hx-get="http://localhost:8080/user"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-valid.html" %}

    <h2>Werde ein Teil der Community!</h2>
    <div class="form-container">
        <div class="login-box">
            <div class="formcolor">
                <form hx-post="http://localhost:8080/registriere"
                      nunjucks-template="login-successful"
                      hx-target=".form-container"
                      hx-target-4*="#error-box-login">

                    <label for="username">Benutzername</label>
                    <input type="text" id="username" name="username">

                    <label for="password">Passwort</label>
                    <input type="password" id="password" name="password">

                    <label for="passwordBestätigung">Passwort wiederholen</label>
                    <input type="password" id="passwordBestätigung" name="passwordBestätigung">

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">

                    <button class="center-button" type="submit">Dabei sein!</button>
                    <div id="error-box-login"></div>
                </form>

            </div>
        </div>
    </div>
</template>

<template id="login-successful">
    {% if error %}
    <div>
        <h3>⚠️ Error ⚠️</h3>
        <code>{{ message }}</code>
    </div>
    {% else %}
    <p><strong>{{ username }}</strong>, erfolgreich registriert ✅</p>

    {# Nach 500 ms zum Startbildschirm umleiten #}
    {{redirect("home.html",500)}}
    {% endif %}
</template>

</body>


</html>